{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    "babel-plugin-parameter-decorator"
  ],
  "presets": [["@babel/preset-env"], "@babel/preset-typescript" ]
}

